*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}
body{
    font-family: sans-serif;
}
/*sconatinter above*/
.space{
    height: 30px;
    width: 100%;
    background-color: rgba(4, 105, 88, 0.685);
}

/*nav  bar style*/
.navbar{
    background-color: aliceblue;
}
/*toogler style*/
.navbar-toggler {
    background-color: rgb(12, 117, 103);

}
a:hover{
   color: rgb(59, 59, 172);
}
/*dropdown-menu style*/
.dropdown-menu{
    background-color: rgb(12, 117, 103);
}
.dropdown-item:hover{
    color: crimson;
}
/*dropdown style*/
.dropdown-item{
    border-bottom: dotted whitesmoke;
}
/*logo style*/
.collapse{
   background-color: aliceblue;
}
/* row spans just after the top corousel in Company*/
.nav-inside{
    background-color: rgb(24, 95, 77);
}
.company{
    background-color: rgb(161, 108, 10);
}
.col-4{
    float: right;
    top: 0;
}
.col-4 ul{
    list-style: none;
    text-align: left;
    background-color: rgb(24, 95, 77);;
}
.col-4 ul li{
   border-bottom: dotted whitesmoke;
}
.col-8 h1{
    margin-left: 20px;
}
.col-8 img{
    float: left;
    margin-left: 20px;
    margin-top: 5px;

}
/*box for the persons information*/
.persons-infor{
    background-color: blue;
    height: 60px;
    width: 100%;
}
.persons-infor h3{
    color: white;
    margin-left: 20px;
}
