*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}
body{
    font-family: sans-serif;
}
.main-container{
    background-color: white;
}
/*conatinter above*/
.space{
    height: 30px;
    width: 100%;
    top: 0px;
    background-color: rgb(24, 95, 77);
}

/*nav  bar style*/
.navbar{
    background-color: white;
    height: 100px;
    margin-top: 30px;

}
/*toogler style*/
.navbar-toggler {
    background-color: rgb(24, 95, 77);

}
a:hover{
   color: rgb(59, 59, 172);
}
.nav-link:hover{
    background-color: rgb(248, 237, 237);

}
/*dropdown-menu style*/
.dropdown-menu{
    background-color: rgb(24, 95, 77);
}
.dropdown-item:hover{
    color: rgb(110, 110, 110);
}
/*dropdown style*/
.dropdown-item{
    border-bottom: dotted rgb(88, 86, 86);

}
.dropdown-item {
    background-color: rgb(24, 95, 77);

}
/*logo style*/
.collapse{
   background-color: rgb(255, 255, 255);
}
/* row spans just after the top corousel in Company*/
.nav-inside{
    background-color: rgb(24, 95, 77);
}
.company{
    background-color: rgb(10, 111, 170);
}
.col-4{
    float: right;
    top: 0;
}
.col-4 ul{
    list-style: none;
    text-align: left;
    background-color: rgb(24, 95, 77);
}
.col-4 ul li{
   border-bottom: dotted whitesmoke;
}
.col-8 h1{
    margin-left: 20px;
}
.col-8 img{
    float: left;
    margin-left: 9px;
    margin-top: 5px;

}
/*box for the persons information*/
.persons-infor{
    background-color: blue;
    height: 60px;
    width: 100%;
}
.persons-infor h3{
    color: white;
    margin-left: 20px;
}
p{
    margin-left: 9px;
}
/*footer*/
.card-body{
    background-color: grey;
}
